.priceGroup {
	width: 320px;
	height: 270px;
	border-radius: 8px;
	background-color: #def3f8;
}

.priceGroup .buy {
	margin-top: 140px;
	width: 290px;
	height: 64px;
	border-radius: 8px;
	background-image: linear-gradient(180deg, #46d7aa 0%, #30a799 100%);

	justify-content: center;
    flex-direction: column;
	display: flex;

	color: #ffffff;
	font-family: Poppins;
	font-size: 28px;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
}


.priceGroup .pg-priceTag .info {
    position: absolute;
    margin: 0 0 0 0;
    width: 124px;
    height: 70px;
    border-radius: 8px 0 0 8px;
    background-color: #46d7aa;

    justify-content: center;
    flex-direction: column;
    display: flex;
}

.priceGroup .pg-priceTag .info p {
    color: #0f0a28;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.priceGroup .pg-priceTag .price {
    position: absolute;
    top: 0px;
    left: 124px;
	width: 166px;	
	height: 100%;
	border-radius: 0 8px 8px 0;
    background-color: #0f0a28;

    justify-content: center;
    flex-direction: column;
    display: flex;
}

.priceGroup .pg-priceTag .price p {
    color: #ffffff;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    text-align: right;
    margin-right: 8px;
}

.priceGroup .pg-priceTag .price .sub {
    color: #b7b5be;
    font-size: 20px;
    font-weight: 600;
    height: 28px;
}

.priceGroup .pg-priceTag .price .sub:after {
    position: absolute;
    content:"";
    width: 73px;
    margin-top: 9px;
    margin-left: -70px;
    border-top: 2px solid #b7b5be;
}
